[Unit]
Description=Rexburg Parking Watch Gunicorn Daemon
After=network.target

[Service]
User=carson
Group=carson
WorkingDirectory=/home/carson/parking-pass
ExecStartPre=/bin/rm -f parking-watch.sock
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:parking-watch.sock --timeout 120 -m 007 wsgi:app
ExecStopPost=/bin/rm -f parking-watch.sock
Restart=always

[Install]
WantedBy=multi-user.target