[Unit]
Description=Rexburg Parking Watch Gunicorn Daemon
After=network.target

[Service]
User=carson
Group=carson
WorkingDirectory=/home/carson/parking-pass
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:/tmp/parking-watch.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
