<!DOCTYPE html>
<html>
<head>
    <title>Parking Pass Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Parking Pass Data</h1>

    <h2>Latest Data</h2>
    <table>
        <thead>
            <tr>
                {% for header in latest_data[0].keys() %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in latest_data %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Historical Data</h2>
    {% for plot_data in history_plots %}
    <img src="data:image/png;base64,{{ plot_data }}" alt="Historical Parking Data">
    {% endfor %}

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
