<!DOCTYPE html>
<html>
<head>
    <title>Parking Pass Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <h1>Parking Pass Data</h1>
        <h2>Latest Data</h2>
        <section id="latest-data">
            {% if len(latest_data) > 0 %}
            <table class="table-view">
                <thead>
                    <tr>
                        {% for header in latest_data[0].keys() %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in latest_data %}
                    <tr>
                        {% for value in row.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Fresh data is unavailable. The City of Rexburg payment page may be down at this time.</p>
            {% endif %}
            <div class="card-view">
                {% for row in latest_data %}
                <div class="card">
                    <h3>{{ row['Pass Type'] }}</h3>
                    <p>Available: {{ row['Available'] }}</p>
                    <p>{{ row['Cost'] }}</p>
                    <p>{{ row['Valid From'] }} to {{ row['Valid To'] }}</p>
                    <p>Last updated: {{ row['Timestamp'] }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
        <h2>Historical Data</h2>
        <section id="historical-data">
            {% for filename in plot_filenames %}
            <img src="{{ url_for('static', filename='plots/' + filename) }}" alt="Historical Parking Data">
            {% endfor %}
        </section>
    </main>
    <footer>
        <p><a href="https://github.com/hyperdriveguy/parking-pass">Source Code</a></p>
        <p><a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">Licensed under the AGPLv3</a></p>
        <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html"><img src="https://www.gnu.org/graphics/agplv3-with-text-162x68.png" alt="AGPLv3 logo"></a>
    </footer>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
